pypinyin
pyyaml
requests
# 上游 fcitx5-pinyin-zhwiki 的 convert.py / mediawiki.py 所需
regex
tenacity
OpenCC
# 萌娘百科词典构建工具：直接安装上游 master，构建时跟随最新代码
mw2fcitx[opencc] @ git+https://github.com/outloudvi/mw2fcitx.git@master
